---
const products = [
{
    id: 1,
    name: 'AVANZA',
    href: 'https://wa.me/6281293155210?text=Hi,%20Admin%20BS%20Travel,%20Saya%20mau%20booking%20Mobil%20Avanza%20Mohon%20dibantu!',
    imageSrc: 'https://saranarentcar.com/wp-content/uploads/2025/01/AVANZA-1-1024x1024.jpg.webp',
    imageAlt: 'AVANZA BS TRANS RENTAL MURAH',
  },
  {
    id: 2,
    name: 'VELOZ',
    href: 'https://wa.me/6281293155210?text=Hi,%20Admin%20BS%20Travel,%20Saya%20mau%20booking%20Mobil%20Veloz%20Mohon%20dibantu!',
    imageSrc: 'https://saranarentcar.com/wp-content/uploads/2025/01/VELOZ-1-1024x1024.jpg.webp',
    imageAlt: 'VELOZ BS TRANS RENTAL MURAH',
  },
  {
    id: 3,
    name: 'SUZUKI ELF',
    href: 'https://wa.me/6281293155210?text=Hi,%20Admin%20BS%20Travel,%20Saya%20mau%20booking%20Mobil%20ELF%20Mohon%20dibantu!',
    imageSrc: 'https://saranarentcar.com/wp-content/uploads/2025/01/ELF-1-1024x1024.jpg',
    imageAlt: 'ELF BS TRANS RENTAL MURAH',
  },
  {
    id: 4,
    name: 'ERTIGA',
    href: 'https://wa.me/6281293155210?text=Hi,%20Admin%20BS%20Travel,%20Saya%20mau%20booking%20Mobil%20Ertiga%20Mohon%20dibantu!',
    imageSrc: 'https://saranarentcar.com/wp-content/uploads/2025/01/ERTIGA-1-1024x1024.jpg',
    imageAlt: 'ERTIGA BS TRANS RENTAL MURAH',
  },
  {
    id: 5,
    name: 'XL7',
    href: 'https://wa.me/6281293155210?text=Hi,%20Admin%20BS%20Travel,%20Saya%20mau%20booking%20Mobil%20XL7%20Mohon%20dibantu!',
    imageSrc: 'https://saranarentcar.com/wp-content/uploads/2025/01/XL7-1-1024x1024.jpg',
    imageAlt: 'XLZ BS TRANS RENTAL MURAH',
  },
  {
    id: 6,
    name: 'XENIA',
    href: 'https://wa.me/6281293155210?text=Hi,%20Admin%20BS%20Travel,%20Saya%20mau%20booking%20Mobil%20Xenia%20Mohon%20dibantu!',
    imageSrc: 'https://saranarentcar.com/wp-content/uploads/2025/01/XENIA-1-1024x1024.jpg',
    imageAlt: 'XENIA BS TRANS RENTAL MURAH',
  },
  {
    id: 7,
    name: 'AVANZA',
    href: 'https://wa.me/6281293155210?text=Hi,%20Admin%20BS%20Travel,%20Saya%20mau%20booking%20Mobil%20Avanza%20Mohon%20dibantu!',
    imageSrc: 'https://saranarentcar.com/wp-content/uploads/2025/01/AVANZA-1-1024x1024.jpg.webp',
    imageAlt: 'AVANZA BS TRANS RENTAL MURAH',
  },
  {
    id: 8,
    name: 'VELOZ',
    href: 'https://wa.me/6281293155210?text=Hi,%20Admin%20BS%20Travel,%20Saya%20mau%20booking%20Mobil%20Veloz%20Mohon%20dibantu!',
    imageSrc: 'https://saranarentcar.com/wp-content/uploads/2025/01/VELOZ-1-1024x1024.jpg.webp',
    imageAlt: 'VELOZ BS TRANS RENTAL MURAH',
  },
  {
    id: 9,
    name: 'SUZUKI ELF',
    href: 'https://wa.me/6281293155210?text=Hi,%20Admin%20BS%20Travel,%20Saya%20mau%20booking%20Mobil%20ELF%20Mohon%20dibantu!',
    imageSrc: 'https://saranarentcar.com/wp-content/uploads/2025/01/ELF-1-1024x1024.jpg',
    imageAlt: 'ELF BS TRANS RENTAL MURAH',
  },
  {
    id: 10,
    name: 'ERTIGA',
    href: 'https://wa.me/6281293155210?text=Hi,%20Admin%20BS%20Travel,%20Saya%20mau%20booking%20Mobil%20Ertiga%20Mohon%20dibantu!',
    imageSrc: 'https://saranarentcar.com/wp-content/uploads/2025/01/ERTIGA-1-1024x1024.jpg',
    imageAlt: 'ERTIGA BS TRANS RENTAL MURAH',
  },
  {
    id: 11,
    name: 'XL7',
    href: 'https://wa.me/6281293155210?text=Hi,%20Admin%20BS%20Travel,%20Saya%20mau%20booking%20Mobil%20XL7%20Mohon%20dibantu!',
    imageSrc: 'https://saranarentcar.com/wp-content/uploads/2025/01/XL7-1-1024x1024.jpg',
    imageAlt: 'XLZ BS TRANS RENTAL MURAH',
  },
  {
    id: 12,
    name: 'XENIA',
    href: 'https://wa.me/6281293155210?text=Hi,%20Admin%20BS%20Travel,%20Saya%20mau%20booking%20Mobil%20Xenia%20Mohon%20dibantu!',
    imageSrc: 'https://saranarentcar.com/wp-content/uploads/2025/01/XENIA-1-1024x1024.jpg',
    imageAlt: 'XENIA BS TRANS RENTAL MURAH',
  },
  // More products...
];
---

<div class="relative bg-transparent z-10">
  <div class="mx-2 py-16 sm:py-2 lg:mx-auto lg:max-w-7xl lg:px-8">

    <div class="relative mt-8">
      <div class="relative -mb-6 w-full overflow-x-auto pb-6">
        <ul
          role="list"
          class="mx-4 inline-flex space-x-6 sm:mx-6 lg:mx-0 lg:grid lg:grid-cols-3 lg:gap-x-6 lg:space-x-0 mb-3"
        >
          {products.map((product) => (
            <li key={product.id} class="inline-flex w-64 flex-col text-center lg:w-auto rounded-lg border border-gray-200 bg-white mb-3">
              <div class="aspect-h-2 aspect-w-2 bg-gray-200 sm:aspect-none group-hover:opacity-75 sm:h-96">
            <img
              src={product.imageSrc}
              alt={product.imageAlt}
              class="h-full w-full object-cover object-center sm:h-full sm:w-full"
            />
          </div>
          <div class="flex flex-1 flex-col space-y-2 p-4">
            <h3 class="text-2xl font-large text-gray-900 font-bold tracking-tight">
              <a href={product.href}>
                <span aria-hidden="true" class="inset-0 tracking-tight" />
                {product.name}
              </a>
            </h3>
            <div class="mx-auto text-left max-w-sm p-4 text-gray-700 sm:text-base sm:leading-7 dark:text-gray-400">
              <ul class="list-image-[url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxNCAxMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiBmaWxsPSIjMzhiZGY4Ij48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xMy42ODUuMTUzYS43NTIuNzUyIDAgMCAxIC4xNDMgMS4wNTJsLTggMTAuNWEuNzUuNzUgMCAwIDEtMS4xMjcuMDc1bC00LjUtNC41YS43NS43NSAwIDAgMSAxLjA2LTEuMDZsMy44OTQgMy44OTMgNy40OC05LjgxN2EuNzUuNzUgMCAwIDEgMS4wNS0uMTQzWiIgLz48L3N2Zz4=')] pl-4 text-black dark:text-black">
              <li class="pl-2">Paket 12 Jam, Full Day & Drop Off</li>
              <li class="pl-2">Mobil - Jasa Driver</li>
              <li class="pl-2">Tarif sewa chat Admin</li>
              </ul>
            </div>
            <div class="mt-3 flex items-center justify-center gap-x-6">
                <a href="https://wa.me/6281293155210" class="rounded-md bg-orange-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-xs hover:bg-orange-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">PESAN SEKARANG!</a>
            </div>
            {/* <p class="text-sm text-gray-500">{product.description}</p> */}
            <div class="flex flex-1 flex-col justify-end">
              {/* <p class="text-sm italic text-gray-500">{product.options}</p>
              <p class="text-base font-medium text-gray-900">{product.price}</p> */}
              
            </div>
            
          </div>
            </li>
          ))}
        </ul>
      </div>
    </div>
  </div>
</div>